@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #140850;
    --secondary-color: #15A89F;
    --font-color: #1A2525;
    --bg-color: #fff;
    --bg-bg: #C4C4C4;
    --form-color: #fffdfd;
    --hover: #d38613;
}

.navbar-dark {
    background-color: #181d33 !important;

    .navbar-nav {
        font-weight: 500;

        .nav-link {
            color: #fff;
        }
    }
}

.navbar-light {


    img {
        max-height: 50px;
    }

    .navbar-nav {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;

        .nav-link {
            color: var(--primary-color);

            &.active {
                font-weight: bold;
                color: var(--primary-color) !important;
            }
        }

    }

    .btn-daftar {
        background-color: var(--primary-color);
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        padding: 6px 16px 6px;
        margin-left: 10px;
    }

    .btn-login {
        background-color: var(--primary-color);
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        padding: 6px 16px 6px;
        margin-left: 10px;
    }

}

// Header
header {
    margin-top: -68px;
    padding: 180px 0 165px;
    background-image: url('../img/head.jpg');
    background-size: cover;


    h1,
    p {
        color: #fff;
    }

    h1 {
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 600px;
        font-size: 48px;

    }

    p {
        font-size: 22px;
    }


    .btn-daftar {
        background-color: #FF9E53;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

}